
<div class="row main">
  <div class="column column-8-of-8-desktop">
    <h1>a Little Bit of <strong>Knowledge</strong></h1>
    <p>by Albert Einstein</p>
  <div>
</div>

</div class="row">
  <picture class="column column-8-of-8-desktop">
    <source class="book_image" srcset="/assets/a-little-bit_product-944x452.jpg" alt="image of the paper book cover and the tablet/phone version" media="(min-width: 600px)">
    <img class="book_image" src="/assets/mobile.png" alt="book cover mobile version">
  </picture>
</div>

<div class="row purchase">
  <div class="column column-3-of-8-desktop buy offset-2-of-8-desktop column-4-of-8-tablet">
    <div class="well">
      <div class="ebook_icon">
        <span class="icons_sprite"></span>
      </div>
      <div class="version">
        <h2>EBOOK</h2>
        <p>£8.00 + Postage</p>
      </div>
      <div class="button">
        <a class="buy_button" href="www.google.com">Buy</a>
      </div>
    </div>
  </div><!--
  --><div class="column column-3-of-8-desktop buy column-4-of-8-tablet">
    <div class="well">
      <div class="paperback_icon">
        <span class="icons_sprite"></span>
      </div>
      <div class="version">
        <h2>PAPERBACK</h2>
        <p>£8.00 + Postage</p>
      </div>
      <div class="button">
        <a class="buy_button" href="www.google.com">Buy</a>
      </div>
    </div>
  </div>
</div>

<div class="row desc">
  <div class="description">
    <article class="column column-5-of-8-desktop column-5-of-8-tablet">
      <p>Weakness of attitude becomes weakness of character, the hardest thing in the world is to understand the income tax. Imagination is more important than knowledge, science without religion is lame. Religion without science is blind, I never think of the future. It comes soon enough. The important thing is not to stop questioning. Curiosity has its own reason for existing.</p>
      <p>Science without religion is lame. Religion without science is blind, E=mc².</p>
      <p>The eternal mystery of the world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future. It comes soon enough. Weakness of attitude becomes weakness of character.</p>
      <p>The only thing that interferes with my learning is my education, any intelligent fool can make things bigger, more complex, and more violent, great spirits have often encountered violent opposition from weak minds, the eternal mystery of the world is its comprehensibility. Weakness of attitude becomes weakness of character.</p>
      <p>The secret of creativity is knowing how to hide your sources, the eternal mystery of the world is its comprehensibility. Imagination is more important than knowledge, reality is merely an illusion, albeit a very presistent one, I never think of the future, it comes soon enough.</p>
    </article><!--
    --><aside class="column column-3-of-8-desktop column-3-of-8-tablet">
      <section class="info">
        <h2>Additional Info</h2>
        <dl>
          <dt>ISBN:</dt>
          <dd><strong>978-1-9375571-0-2</strong></dd><br>
          <dt>Paperback:</dt>
          <dd><strong>154 pages</strong></dd>
        </dl>
      </section>
      <section class="author">
        <h2>About the Author</h2>
        <img src="/assets/a-little-bit_author_91x119.jpg">
        <p><strong>Albert Einstein</strong></p>
        <p>Theoretical Physicist Albert Einstein was a German-born theoretical physicist who developed the general theory of relativity, one of the two pillars of modern physics.<br>Born:<br><strong>March 14, 1879, Ulm, Germany</strong></p>
      </section>
    </aside>
  </div>
</div>

<div class="row">
  <section class="column column-8-of-8-desktop quotes">
    <h2>What people are saying</h2><!--
    --><blockquote class="column column-4-of-8-desktop column-4-of-8-tablet"> 
      <p>When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied. "It's so seldom I have one."</p>
      <cite>Bill Bryson</cite>
    </blockquote><!--
    --><blockquote class="column column-4-of-8-desktop column-4-of-8-tablet"> 
      <p>So Einstein was wrong when he said, "God does not play dice." Consideration of black holes suggests, not only that God does play dice, but that he sometimes confuses us by throwing them where they can't be seen.</p>
      <cite>Stephen Hawking</cite>
    </blockquote>
  </section>
</div>

<div class="row">
  <section class="column column-8-of-8-desktop more_bits">
    <h2>More Bits...</h2>
    <ul class="column column-8-of-8-desktop">
      <li class="column column-2-of-8-desktop column-4-of-8-tablet"><a href="www.google.com">
        <img src="/assets/book1.png"/><br>
        <p>A Little Bit more<br><strong>Knowledge</strong></p>
      </a></li><!--
      --><li class="column column-2-of-8-desktop column-4-of-8-tablet"><a href="www.google.com">
        <img src="/assets/book2.png"/><br>
        <p>A Little Bit more<br><strong>Knowledge</strong></p>  
      </a></li><!--
      --><li class="column column-2-of-8-desktop column-4-of-8-tablet"><a href="www.google.com">
        <img src="/assets/book3.png"/><br>
        <p>A Little Bit more<br><strong>Knowledge</strong></p>
      </a></li><!--
      --><li class="column column-2-of-8-desktop column-4-of-8-tablet"><a href="www.google.com">
        <img src="/assets/book4.png"/><br>
        <p>A Little Bit more<br><strong>Knowledge</strong></p>
      </a></li>
    </ul>
  </section>
</div>




