$pink: #ef2389;

$dark_grey: #808080; 
$middle_grey: #bababa; 
$light_grey: #e8eae8; 

$blue: #1B218D;
$outer-circle-blue: #424AB3;
$middle-circle-blue: #6773C3;
$inner-circle-blue: #868ED3;
$light-blue: #9FA6DE;
$dark-blue: #0A0A3C;

$green: #058E3C; 
$outer-circle-green: #00B76C;
$middle-circle-green: #36C78C;
$inner-circle-green: #69D6A8;
$light-green: #8BE0BC;
$dark-green: #025122;

$red: #990000;
$outer-circle-red: #BB1E32;
$middle-circle-red: #CE575F;
$inner-circle-red: #DA7B80;
$light-red: #E5979B;
$dark-red: #6F0A18;