
// Import partials
@import 'colors';
@import 'grid'; 
@import 'header'; 
@import 'books';
@import 'pages';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana;
  p {
    font-size: 17px;
  }
  h1, h2, h3 {
    font-family: serif;
  }
}

.grey_line {
  height: 1em;
  background-color: $dark_grey;
}

footer {
  height: 10em; 
  background-color: $dark_grey; 
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 75px;
    padding-top: 25px;
  }
  .social-media-icon {
    list-style: none;
    display: inline-block;
    border-radius: 50px;
    margin-left: 20px;
    .fa-facebook {
      padding: 15px 25px;
    }
    .fa-twitter {
      padding: 15px 18px;
    }
    .fa-google-plus {
      padding: 15px 10px;
    }
    .fa-pinterest-p {
      padding: 15px 22px;
    }
    &:hover {
      background-color: $pink;
    }
  }
  .copyright {
    color: white;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
  }
}

.social-media-icon { 
  color: white;
  font-size: 40px;
}

@media screen and (max-width: 1023px) {

  footer {
    .copyright {
      text-align: left;
      padding-left: 75px;
    }
  }
}

@media screen and (max-width: 424px) { 

  footer {
    height: 25em;
    ul {
      text-align: center;
      .social-media-icon {
        display: block;
      }
    }
    .copyright {
      text-align: center;
      padding-left: 0;
    }
  }
}
