// ---------- TITLE & MAIN IMAGE -----------

.main {
  h1 {
    font-size: 56px; 
    font-weight: normal;
    font-family: serif;
  };
  p {
    color: $green;
    margin-top: -20px; 
    font-size: 28px; 
    font-style: italic;
    font-family: serif;
  }
}

.book_image {
  width: 100%;
}

@media screen and (max-width: 374px) {
  .main {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 22px; 
    }
  }
}

// ---------- PURCHASE ----------

.purchase {
    .buy { 
    display: inline-block; 
  }
  .well {
    background-color: $light_grey;
    padding: 0.7em;
    border-radius: 0.3em;
    width: 100%;
  }
  .paperback_icon {
    background: url("/assets/a-little-bit_icons_50x226.png") no-repeat;
    width: 3.125em;
    height: 4.063em;
    background-position: 0.313em -9.375em;
  }
  .ebook_icon {
    background: url("/assets/a-little-bit_icons_50x226.png") no-repeat;
    width: 3.125em;
    height: 4.063em;
    background-position: 0.313em -13.875em;
  }
  .version, .button {
    display: inline-block;
  }
  div {
    display: inline-block;
    vertical-align: top;
    h2 {
      font-size: 16px; 
      font-family: verdana; 
      padding: 0 1em;
      margin-bottom: 0.3em;
    }
    p {
      font-size: 16px;
      font-family: verdana; 
      padding: 0 1em; 
      margin: 0;
      color: $dark_grey;
    }
  }
  .button {
    float: right;
    padding: 0.5em;
    position: relative;
    margin-top: 1.2em;
  }
  .buy_button {
    background-color: $pink;
    padding: 0.5em 1.3em;
    border-radius: 0.3em; 
    color: white;
    text-decoration: none; 
  }
}

@media screen and (max-width: 374px) {
  .purchase {
    .paperback_icon, .ebook_icon {
      background: none;
      width: 0;
      height: 0;
    }
  }
}

// ---------- DESCRIPTION & ABOUT AUTHOR ----------

.desc {
  border-bottom: solid 0.1px $pink;
}
.description { 
  aside {
    .info {
      background-color: $light_grey; 
      border-radius: 0.3em; 
      h2 {
        color: $dark_grey; 
        font-size: 20px; 
        padding: 1em 1em 0 1em; 
      }
      dl dt {
        font-size: 14px; 
        padding: 0 1em;
      }
      dl dd {
        font-size: 14px;
        margin-left: 1em; 
        &:last-child {
          padding-bottom: 1em;
        }
      }
    }
    .author {
      h2 {
        font-family: serif; 
      }
      img {
        border: 0.2em solid $pink;
        float: left;
        margin-right: 1em; 
        width: 20%;
      }
      p {
        font-size: 16px; 
      }
    }
  }
}

// ---------- QUOTES ----------

.quotes {
  border-bottom: 0.1em solid $pink; 
  blockquote {
    margin: 0;
    margin-bottom: 2em; 
  }
  cite {
    color: $pink;
    padding-left: 4em; 
  }
  p {
    padding-left: 4em; 
  }
  blockquote:before {
    display: block;
    content: "\201D";
    font-size: 80px;
    font-family: serif; 
    position: absolute;
    color: $pink;
    padding-top: 0.05em;
  }
  h2 {
    font-family: serif; 
  }
}

// ---------- MORE BITS ----------

.more_bits {
  ul {
    list-style-type:none;
    width: 110%;
    text-align: center; 
  }
  img {
    width: 60%;
    padding-bottom: 0.5em;
  }
  a {
    color: black;
    text-decoration: none; 
    font-size: 14px; 
  }
  a:hover {
    color: $pink; 
  }
  p {
    margin-left: -2em; 
  }
  h2 {
    font-family: serif;
  }
}
